<li>
  <strong><%= task.title %></strong>
  --
  <%= task.description %>
  <% if task.completed == false %>
    <%= form_for task do |form| %>
      <%= form.hidden_field :completed, value: 1 %>
      <%= form.submit "Master the Universe" %>
    <% end %>
  <% end %>

  <%= button_to "Delete", task_path(task), method: :delete %>
</li>
