<h1>Welcome to Taskr</h1>

<h2>Here are your tasks</h2>


<%= render "error_messages", target: @task %>


<%= form_for @task do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit %>
<% end %>


<p>To Do</p>
<ul id="incomplete-task-list">
  <%= render @incomplete_tasks %>
</ul>

<p>Finished</p>
<ul id="complete-task-list">
  <%= render @complete_tasks %>
</ul>
